In [34]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50, 5))
scores_df = pd.DataFrame(scores, 
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
scores_df.index.name = "學號"
scores_df.columns.name = "科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by="名次")

科目   國文  英文   數學   地理   歷史   總分    平均    名次
學號
45   94  90   73   89  100  446  89.2   1.0
26   82  93   76   82   85  418  83.6   2.0
34   77  91   58   96   95  417  83.4   3.0
3    97  77   96   42   91  403  80.6   4.0
43   76  90   93   57   86  402  80.4   5.0
27   84  97   42   99   79  401  80.2   6.0
25   69  66   88   79   94  396  79.2   7.0
21   76  57   93   72   94  392  78.4   8.0
18   84  69   67   98   70  388  77.6   9.0
37   63  84   94   59   80  380  76.0  10.0
11   75  92   55   62   95  379  75.8  11.0
50   74  79   49   88   85  375  75.0  12.0
23   73  85   87   61   68  374  74.8  13.0
6    81  77   77   72   64  371  74.2  14.0
12   88  86   65   59   73  371  74.2  14.0
1    61  70   94   81   58  364  72.8  16.0
46  100  78  100   40   46  364  72.8  16.0
16   55  73   62   81   93  364  72.8  16.0
35   96  50   91   43   83  363  72.6  19.0
17   75  99   41   60   85  360  72.0  20.0
20   98  67   87   65   43  360  72.0  20.0
2    97  43   57   95   66  358  71.6  22.0
41   80  78   69   48   83  358  71.6  22.0
39   69  94   79   54   62  358  71.6  22.0
33   63  49   94   63   88  357  71.4  25.0
8    87  56   47   85   82  357  71.4  25.0
31   75  57   84   45   93  354  70.8  27.0
40   62  58   59   87   85  351  70.2  28.0
28   55  51   69  100   75  350  70.0  29.0
36   46  70   58   95   81  350  70.0  29.0
10   88  62   71   49   76  346  69.2  31.0
13   40  87   72   47   99  345  69.0  32.0
44   63  48   45   83   95  334  66.8  33.0
4    61  75   65   46   84  331  66.2  34.0
9    60  58   40   98   74  330  66.0  35.0
14   66  90   58   51   62  327  65.4  36.0
24   52  58   50   87   79  326  65.2  37.0
47   74  85   44   58   62  323  64.6  38.0
38   83  47   67   73   51  321  64.2  39.0
29   91  64   59   45   52  311  62.2  40.0
32   86  52   45   71   55  309  61.8  41.0
48   73  75   46   45   63  302  60.4  42.0
49   48  47   52   90   64  301  60.2  43.0
7    40  89   83   48   40  300  60.0  44.0
19   43  64   47   92   47  293  58.6  45.0
30   41  53   53   76   67  290  58.0  46.0
5    63  83   58   41   42  287  57.4  47.0
15   62  40   43   99   40  284  56.8  48.0
42   61  54   47   61   49  272  54.4  49.0
22   41  57   49   53   48  248  49.6  50.0

In [35]:
def fun1(series:pd.Series) -> int:
    return series.max()

subject_df = scores_df[['國文', '英文', '數學', '地理', '歷史']]

subject_df.apply(fun1)

科目
國文    100
英文     99
數學    100
地理    100
歷史    100
dtype: int64

In [36]:
def fun1(series:pd.Series) -> int:
    return series.median()

subject_df = scores_df[['國文', '英文', '數學', '地理', '歷史']]

subject_df.apply(fun1)

科目
國文    73.5
英文    70.0
數學    63.5
地理    68.0
歷史    75.5
dtype: float64

In [37]:
def fun1(series:pd.Series) -> int:
    s1 = pd.Series(series.median(), index=["中間值"])
    return s1

subject_df = scores_df[['國文', '英文', '數學', '地理', '歷史']]

subject_df.apply(fun1)

科目     國文    英文    數學    地理    歷史
中間值  73.5  70.0  63.5  68.0  75.5

In [38]:
def fun1(series:pd.Series) -> int:
    min = series.min()
    median = series.median()
    max = series.max()
    s1 = pd.Series([min, median, max], index=["最低分","中間值", "最高分"])
    return s1

subject_df = scores_df[['國文', '英文', '數學', '地理', '歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目      國文    英文     數學     地理     歷史
最低分   40.0  40.0   40.0   40.0   40.0
中間值   73.5  70.0   63.5   68.0   75.5
最高分  100.0  99.0  100.0  100.0  100.0

In [39]:
subject_df

科目   國文  英文   數學   地理   歷史
學號
1    61  70   94   81   58
2    97  43   57   95   66
3    97  77   96   42   91
4    61  75   65   46   84
5    63  83   58   41   42
6    81  77   77   72   64
7    40  89   83   48   40
8    87  56   47   85   82
9    60  58   40   98   74
10   88  62   71   49   76
11   75  92   55   62   95
12   88  86   65   59   73
13   40  87   72   47   99
14   66  90   58   51   62
15   62  40   43   99   40
16   55  73   62   81   93
17   75  99   41   60   85
18   84  69   67   98   70
19   43  64   47   92   47
20   98  67   87   65   43
21   76  57   93   72   94
22   41  57   49   53   48
23   73  85   87   61   68
24   52  58   50   87   79
25   69  66   88   79   94
26   82  93   76   82   85
27   84  97   42   99   79
28   55  51   69  100   75
29   91  64   59   45   52
30   41  53   53   76   67
31   75  57   84   45   93
32   86  52   45   71   55
33   63  49   94   63   88
34   77  91   58   96   95
35   96  50   91   43   83
36   46  70   58   95   81
37   63  84   94   59   80
38   83  47   67   73   51
39   69  94   79   54   62
40   62  58   59   87   85
41   80  78   69   48   83
42   61  54   47   61   49
43   76  90   93   57   86
44   63  48   45   83   95
45   94  90   73   89  100
46  100  78  100   40   46
47   74  85   44   58   62
48   73  75   46   45   63
49   48  47   52   90   64
50   74  79   49   88   85

In [40]:
subject_df.T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,61,97,97,61,63,81,40,87,60,88,...,80,61,76,63,94,100,74,73,48,74
英文,70,43,77,75,83,77,89,56,58,62,...,78,54,90,48,90,78,85,75,47,79
數學,94,57,96,65,58,77,83,47,40,71,...,69,47,93,45,73,100,44,46,52,49
地理,81,95,42,46,41,72,48,85,98,49,...,48,61,57,83,89,40,58,45,90,88
歷史,58,66,91,84,42,64,40,82,74,76,...,83,49,86,95,100,46,62,63,64,85

In [42]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    return pd.Series([lessThen60], index=["不及格科目"])

display(subject_df.T)
subject_df.T.apply(fun2)

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,61,97,97,61,63,81,40,87,60,88,...,80,61,76,63,94,100,74,73,48,74
英文,70,43,77,75,83,77,89,56,58,62,...,78,54,90,48,90,78,85,75,47,79
數學,94,57,96,65,58,77,83,47,40,71,...,69,47,93,45,73,100,44,46,52,49
地理,81,95,42,46,41,72,48,85,98,49,...,48,61,57,83,89,40,58,45,90,88
歷史,58,66,91,84,42,64,40,82,74,76,...,83,49,86,95,100,46,62,63,64,85

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
不及格科目,1,2,1,1,3,0,3,2,2,1,...,1,3,1,2,0,2,2,2,3,1

In [46]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    chinese = "及格" if (series["國文"] >= 60) else "不及格"
    english = "及格" if (series["英文"] >= 60) else "不及格"

    return pd.Series([lessThen60, chinese, english], index=["不及格科目", "國文", "英文"])

display(subject_df.T)
subject_df.T.apply(fun2).T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,61,97,97,61,63,81,40,87,60,88,...,80,61,76,63,94,100,74,73,48,74
英文,70,43,77,75,83,77,89,56,58,62,...,78,54,90,48,90,78,85,75,47,79
數學,94,57,96,65,58,77,83,47,40,71,...,69,47,93,45,73,100,44,46,52,49
地理,81,95,42,46,41,72,48,85,98,49,...,48,61,57,83,89,40,58,45,90,88
歷史,58,66,91,84,42,64,40,82,74,76,...,83,49,86,95,100,46,62,63,64,85

   不及格科目   國文   英文
學號
1      1   及格   及格
2      2   及格  不及格
3      1   及格   及格
4      1   及格   及格
5      3   及格   及格
6      0   及格   及格
7      3  不及格   及格
8      2   及格  不及格
9      2   及格  不及格
10     1   及格   及格
11     1   及格   及格
12     1   及格   及格
13     2  不及格   及格
14     2   及格   及格
15     3   及格  不及格
16     1  不及格   及格
17     1   及格   及格
18     0   及格   及格
19     3  不及格   及格
20     1   及格   及格
21     1   及格  不及格
22     5  不及格  不及格
23     0   及格   及格
24     3  不及格  不及格
25     0   及格   及格
26     0   及格   及格
27     1   及格   及格
28     2  不及格  不及格
29     3   及格   及格
30     3  不及格  不及格
31     2   及格  不及格
32     3   及格  不及格
33     1   及格  不及格
34     1   及格   及格
35     2   及格  不及格
36     2  不及格   及格
37     1   及格   及格
38     2   及格  不及格
39     1   及格   及格
40     2   及格  不及格
41     1   及格   及格
42     3   及格  不及格
43     1   及格   及格
44     2   及格  不及格
45     0   及格   及格
46     2   及格   及格
47     2   及格   及格
48     2   及格   及格
49     3  不及格  不及格
50     1   及格   及格